header {
  background:black;
  background-image: url("../images/BlackTitle.png");
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  background-repeat: no-repeat;
  background-position: center;
}

/* DESKTOP VIEW */
@media (min-width: 600px) {
  #hide-on-desktop {
    display:none;
  }
  header {
    /* filter: invert(1); */
    background-size:480px;
    height:80px;
    margin-bottom:30px;
  }
}
/* MOBILE VIEW */
@media (max-width: 599px) {
  #hide-on-mobile {
    display:none;
  }
  h3 {
    font-size: 20px;
  }
  header {
    background-size:90%;
    height:70px;
    margin-bottom:15px;
  }
  .bip-input, #checksum {
    width: 80%;
  }
  .number {
    margin-left: -30px!important;
  }
  #submit-button {
    margin-left: -8px;
  }
  #nonce-stuff {
    display:flex;
  }
}

.jagged-border-top {
  position: relative;
  color: white;
  background-color: black;
  margin-left:-1px;
  margin-right:-1px;
}

.jagged-border-top:after {
  content: "";
  position: absolute;
  display: block;
  height: 10px;
  bottom: -10px;
  /* -height */
  left: 0;
  right: 0;
  /* TODO Add browser prefixes */
  background: linear-gradient( 45deg, transparent 33.333%, black 33.333%, black 66.667%, transparent 66.667%), linear-gradient( -45deg, transparent 33.333%, black 33.333%, black 66.667%, transparent 66.667%);
  background-size: 8px 20px;
  /* toothSize doubleHeight */
  background-position: 0 -10px;
  /* horizontalOffset -height */
}

.jagged-border-top-inverse {
  position: relative;
  color: black;
  background-color: white;
}

.jagged-border-top-inverse:after {
  content: "";
  position: absolute;
  display: block;
  height: 10px;
  bottom: -10px;
  /* -height */
  left: 0;
  right: 0;
  /* TODO Add browser prefixes */
  background: linear-gradient( 45deg, transparent 33.333%, white 33.333%, white 66.667%, transparent 66.667%), linear-gradient( -45deg, transparent 33.333%, white 33.333%, white 66.667%, transparent 66.667%);
  background-size: 8px 20px;
  /* toothSize doubleHeight */
  background-position: 0 -10px;
  /* horizontalOffset -height */
}

a {
  color: black;
  text-decoration: none;
}

#avatar {
  border-radius:50%;
  border: 2px solid black;
  width: 90px;
  height: 90px;
}

table {
  border:1px solid red;
  border-collapse: collapse;
}

td {
  border:1px solid black;
  padding:8px;
  text-align:center;
}

.diagram {
  width:500px;
  max-width:95%;
}

body, h3, button, input, h4 {
  /* font-family: 'PT Sans Narrow', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: monospace;
  /* font-weight: 300; */
}

#main {
  padding-top: 40px;
  text-align: left;
  width: 300px;
  margin: 0 auto;
}

.text-center {
    margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 500px;
}

.number {
  display: inline-block;
  width:20px;
  text-align:right;
  margin-right:4px;
  margin-left: -14px;
}

.col-sm-6 {
  margin-bottom:14px;
}

#checksum-result {
  margin-top:25px;
  overflow-wrap: break-word;
  width:500px;
  max-width: 80%;
  margin-left: -12px;
  font-size:15px;
}

body {
  text-align: center;
}

button {
  color:white;
  background:black;
  border: 1px solid black;
  padding-top:3px;
  padding-bottom:3px;
}

.button {
  max-width: 400px;
  padding: 20px;
  margin: 20px;
  box-shadow: 5px 5px;
}

.button:hover {
  box-shadow: 2px 2px black;
  transform: translate(3px, 3px);
}

.social {
  height: 35px;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

#result {
  overflow-wrap: break-word;
  width:500px;
  max-width:90%;
  margin: 0 auto;
  font-size:14.3px;
}

.button-class, table {
	width:500px;
	text-align:center;
	max-width:80%!important;
	margin-bottom:5px;
}

.button-class {
  width:80%%;
}

tr, td, table {
	border:0px;
}

h2 {
	margin-bottom:20px;
}
/*
header {
  color:white;
  background:#003ff8;
  font-size:13px;
  line-height:28px;
  padding:30px;
  top:0;
}
*/
footer {
  color:white;
  background:black;
  margin-top:60px;
  font-size:13px;
  line-height:28px;
  padding:15px;
}

footer a {
  color:white;
}

footer a:hover {
  color:white;
  font-weight:bold;
  text-decoration:none;
}

.office-banner {
  background-color: #5ddd9d;
  opacity: .9;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0.125em;
  font-size: 44.5px;
  text-align: center;
  white-space: nowrap;
  transform: rotate(-10deg);
  position: fixed;
  top: 40%;
  left: -5%;
  right: -5%;
  z-index: 100;
  margin-top: 0;
}
